<!-- Formulaire par la methode reactive form module ici pas de reference loca #f -->
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 col-md-5 col-lg-3 mx-auto">
      <div class="card user_card">
        <div class="card-body">
          <h6 class="card-title text-center">New User</h6>
          <form (ngSubmit)="onSubmitForm()" [formGroup]="userFormGroup">
            <div class="form-label-group">
              <label for="firstName">Prénom</label>
              <input class="form-control" formControlName="firstName" id="firstName" type="text">
            </div>
            <div class="form-label-group">
              <label for="lastName">Nom</label>
              <input class="form-control" formControlName="lastName" id="lastName" type="text">
            </div>
            <div class="form-label-group">
              <label for="email">Adresse e-mail</label>
              <input class="form-control" formControlName="email" id="email" type="text">
            </div>
            <div class="form-label-group">
              <label for="drinkPreference">Quelle boisson préférez-vous ?</label>
              <select class="form-control" formControlName="drinkPreference" id="drinkPreference">
                <option value="Coca">Coca</option>
                <option value="Pepsi">Pepsi</option>
              </select>
            </div>
            <hr class="my-1">
            <div class="form-label-group">
              <label for="photo">Ajouter une photo</label>
              <input (change)="detectFiles($event)" accept="image/*" class="form-control" id="photo" type="file">
              <p *ngIf="fileUploaded" class="text-success">Fichier chargé !</p>
            </div>
            <hr class="my-1">
            <div formArrayName="hobbies">
              <h6>Vos hobbies</h6>
              <div *ngFor="let hobbyControl of getHobbies().controls; let i = index" class="form-group">
                <input [formControlName]="i" class="form-control" type="text">
              </div>
              <div class="navbar-right">
                <button (click)="onAddHobby()" class="btn btn-success" type="button">Ajouter un hobby</button>
              </div>
            </div>

            <hr class="my-1">
            <button [disabled]="userFormGroup.invalid || fileIsUploading" class="btn btn-primary" type="submit">
              Enregistrez-vous
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



