<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="container-fluid">o7planning</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links:  collapse, navbar-collapse et navbar-toggler-->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="accueil">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="memo">Memos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="posts">Posts Blog</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="posts/newpost">New Post</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="profil/users">Users List</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="profil/holderUsers">Users holder</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="profil/country">country</a></li>
      </ul>
      <!-- Right -->
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isAuth" class="nav-item"><a class="nav-link" routerLink="auth/signup">Créer un compte</a></li>
        <li *ngIf="!isAuth" class="nav-item"><a class="nav-link" routerLink="auth/signin">Connexion</a></li>
        <li class="nav-item"><a (click)="onSignOut()" *ngIf="isAuth" class="nav-link" style="cursor:pointer">Déconnexion</a></li>
      </ul>
    </div>
  </nav>
</div>

