<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLove > 0,
                'list-group-item-warning': postLove < 0,
                'list-group-item-text': postLove == 0}">

  <div [ngStyle]="{color: getColor()}" class="row glyphicon-object-align-right">
    <div class="col-md-8"><h5>{{ postTitle}} - {{idPost}} </h5>
    </div>
    <div class="col-md-4 text-body">{{ createdDate | dateFormat}} - {{ postLove | toPositif }}
      {{like}}: <span [ngClass]="{'fa ': true,
                                  'fa-thumbs-o-up': postLove > 0,
                                  'fa-plus': postLove == 0,
                                  'fa-thumbs-o-down': postLove < 0 }"></span>
    </div>
  </div>
  <hr/>
  <div [ngStyle]="{color: getColor()}">{{ postContent }}</div>
  <hr/>
  <button (click)="onLoveIt()" class="btn btn-success">Like it</button>&nbsp;
  <button (click)="onDontLoveIt()" class="btn btn-warning">Dislike It</button> &nbsp;
  <button (click)="onViewPost(idPost)" class="btn btn-primary">View Post</button>&nbsp;
  <button (click)="onDeletePost(postInput)" class="btn btn-danger">Delete</button>

</li>
