<!-- Methode Templaite avec une reference local #f: creation d'un Post  -->
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 col-md-5 col-lg-3 mx-auto">
      <div class="card user_card">
        <div class="card-body">
          <h5 class="card-title text-center">New Post Component</h5>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-label-group">
              <label for="title">Titre du Post</label>
              <input class="form-control" id="title" name="title" ngModel placeholder="Titre du Post" required type="text">
            </div>
            <div class="form-label-group">
              <label for="content">Message à poster</label>
              <input class="form-control" id="content" name="content" ngModel placeholder="Message à poster" required type="text">
            </div>
            <div class="form-label-group">
              <label for="content">Date création</label>
              <input class="form-control" id="dateCreation" name="dateCreation" ngModel placeholder="Date création" type="date">
            </div>
            <hr class="my-4">
            <button [disabled]="f.invalid" class="btn btn-outline-light" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

