<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Post PostViewComponent</h3>
      <ul class="list-group">
        <app-post-item  *ngFor="let post of posts; let i = index"
                             [indexOfPost]="i"
                             [idPost]="post.id"
                             [postTitle]="post.title"
                             [postContent]="post.content"
                             [postLove]="post.loveIts"
                             [createdDate]="post.createdat"
                             [postInput]="post">
        </app-post-item>
      </ul>

      <div class="navbar-right">
        <button class="btn btn-info" (click)="onNewPost()">Ajouter un post</button>
      </div>
    </div>
  </div>

</div>
