<!-- On affichera ici les views chois par notre  RouterModule.forRoot(appRoutes) -->
<!-- On remplacera donc la balise app-appareil-view par  router-outlet -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer class="fixed-bottom"></app-footer>



