<p>Component single post </p>
<p><a routerLink="/posts">Retour à la liste des posts</a></p>
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLove > 0,
                'list-group-item-danger': postLove < 0,
                'list-group-item-text': postLove == 0}">

  <h4>
    <strong>
      <div class="row glyphicon-object-align-right" [ngStyle]="{color: getColor()}">
        <div class="col-md-8">{{ postTitle}} </div>
        <div class="col-md-4 text-body">{{ createdDate | date : 'short'}} - Like: {{ postLove }} </div>
      </div>
    </strong>
  </h4>
  <div [ngStyle]="{color: getColor()}">{{ postContent }}</div>
</li>


