<br/>
<div class="container-fluid">
  <br/>
  <div *ngFor="let user of users ; let i = index" class="list-group-item border border-warning">
     <div class="row bs-margin clearfix">
       <div class="col-8 mr-auto text-info">
         <h4>{{ user.name }} {{ user.username }} - ID: {{user.id}}</h4>
         <h5>{{ user.email }}</h5>
         <h5>{{ user.website }}</h5>
       </div>
       <div class="col-4 ml-auto clearfix">
         <h3>Photo de profil</h3>
         <img [src]="mesimages" class="img-space" height="130px" width="220px">
       </div>
     </div>
    <hr/>
     <div *ngIf="user.address" class="row bs-margin clearfix">
       <div class="col-6 mr-auto">
         <h6>Mon address:</h6>
         <p>{{ user.address.street }} </p>
         <p>{{ user.address.suite }} </p>
         <p>{{ user.address.city }} </p>
         <p>{{ user.address.zipcode }} </p>
       </div>
       <div class="col-6 ml-auto" *ngIf="user.address.geo">
         <h6>Ma Position géographique: </h6>
         <p>{{user.address.geo.lat }} </p>
         <p>{{ user.address.geo.lng }} </p>
       </div>
    </div>
    <hr/>
    <div *ngIf="user.company" class="row bs-margin clearfix">
       <div class="col-12 mr-auto">
          <h6>Moi j'ai des company: </h6>
          <p>{{ user.company.bs }} </p>
          <p>{{ user.company.catchPhrase }} </p>
          <p>{{ user.company.name }} </p>
       </div>
    </div>
    <hr/>
    <div class="row bs-margin clearfix">
      <div class="mr-auto">
        <button class="btn btn-warning pull-right btn-space">Supprimer ce post</button>
      </div>
      <div class="ml-auto">
        <button class="btn btn-info">Add new user</button>
      </div>
    </div>
  </div>
  <hr/>
</div>
<br/><br/>
