<br/>
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-info">

    <a class="navbar-brand" href="#">o7planning</a>
    <!-- Left -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Java</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">C/C++</a>
      </li>
    </ul>
    <!-- Right -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Tom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</div>
