<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input class="form-control" formControlName="email" id="email" type="text">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input class="form-control" formControlName="password" id="password" type="password">
      </div>
      <button [disabled]="signUpForm.invalid" class="btn btn-primary" type="submit">Créer compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
