<ul class="list-group">
  <li *ngFor="let user of users" class="list-group-item">
    <div class="row bs-margin clearfix bg-success">
       <div class="col-4 pull-left text-info">
           <h3>{{ user.firstName }} {{ user.lastName }}</h3>
           <p>{{ user.email }}</p>
           <p>Mes préférences le {{ user.drinkPreference }}</p>
           <p *ngIf="user.hobbies && user.hobbies.length > 0">
              Moi j'ai des hobbies:
             <span *ngFor="let hobby of user.hobbies">{{ hobby }} - </span>
           </p>
       </div>
       <div class="col-4 pull-right clearfix">
         <h3>Photo de profil</h3>
           <img class="img-space" height="130px" width="220px" *ngIf="user.photo" [src]="user.photo">
       </div>

    </div>
    <div class="row">
      <button class="btn btn-warning pull-right btn-space" (click)="onDeleteUser(user)">Supprimer ce post</button>
    </div>
  </li>
  <div class="navbar-left div-mg-post">
    <button class="btn btn-info" (click)="onNewUser()">Add new user</button>
  </div>

</ul>
