<br/>
<div class="container-fluid">
  <h6> Template Driven Forms</h6>
  <form #f="ngForm" (ngSubmit)="submitTemplateForm(f.value)">
    <div class="row bg-success m-auto">

      <div class="form-group col-sm-3"></div>
      <div class="form-group col-sm-3">
        <select class="custom-select  mt-2" [(ngModel)]="keyword">
          <option *ngFor="let item of keywords" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div class="form-group col-sm-3 mt-2">
        <ng-autocomplete #ngAutoCompleteStatic
                         (inputChanged)='onChangeSearch($event)'
                         (inputFocused)='onFocused($event)'
                         (selected)='selectEvent($event)'
                         [(ngModel)]="name"
                         [data]="countryListe$ | async"
                         [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate"
                         [placeHolder]="placeholder"
                         [searchKeyword]="keyword"
                         name="name">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-3"></div>
    <button class="btn" type="submit">Submit</button>
  </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Capital</th>
        <th scope="col">Continent</th>
        <th scope="col">Sub Region</th>
        <th scope="col">Numeric Code</th>
        <th scope="col">Translation En FR</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
        <th scope="col">Cioc</th>
        <th scope="col">Calling Codes</th>
        <th scope="col">Langue</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pays of country; let i = index">
        <th scope="row">{{ i +1 }}</th>
        <td>
          <img [src]="pays.flag" class="mr-2" style="width: 20px">
          {{ pays.name }}
        </td>
        <td>{{ pays.capital }}</td>
        <td>{{ pays.region }}</td>
        <td>{{ pays.subregion}}</td>
        <td>{{ pays.numericCode}}</td>
        <td>{{ pays.translations.fr}}</td>
        <td>{{ pays.area | number}}</td>
        <td>{{ pays.population | number }}</td>
        <td>{{ pays.cioc}}</td>
        <td>{{ pays.callingCodes}}</td>
        <td>{{ pays.languages[0].nativeName}}</td>



      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="25">25 items per page</option>
      </select>
    </div>
    <br/><br/><br/><br/>


</div>

