<p></p>
<div class="row container table-bordered">
  <div class="col-12">
  </div>
    <div class="col-lg-8">
      <img *ngIf="currentImage" src="assets/mesimages/{{currentImage}}"
       alt="image" height="500px" width="700px"/>
    </div>
      <div class="col-lg-2">
  </div>
  <p></p>
</div>
